--sxs {
  --sxs: 0 sp-121717251;
}

@media {
  .sp-121717251 {
    --sp-space-1: 4px;
    --sp-space-2: 8px;
    --sp-space-3: 12px;
    --sp-space-4: 16px;
    --sp-space-5: 20px;
    --sp-space-6: 24px;
    --sp-space-7: 28px;
    --sp-space-8: 32px;
    --sp-space-9: 36px;
    --sp-space-10: 40px;
    --sp-space-11: 44px;
    --sp-border-radius: 4px;
    --sp-layout-height: 300px;
    --sp-layout-headerHeight: 40px;
    --sp-transitions-default: 150ms ease;
    --sp-zIndices-base: 1;
    --sp-zIndices-overlay: 2;
    --sp-zIndices-top: 3;
    --sp-colors-surface1: inherit;
    --sp-colors-surface2: inherit;
    --sp-colors-surface3: inherit;
    --sp-colors-disabled: inherit;
    --sp-colors-base: inherit;
    --sp-colors-clickable: inherit;
    --sp-colors-hover: inherit;
    --sp-colors-accent: inherit;
    --sp-colors-error: inherit;
    --sp-colors-errorSurface: inherit;
    --sp-colors-warning: inherit;
    --sp-colors-warningSurface: inherit;
    --sp-font-body: Optimistic Display, -apple-system, ui-sans-serif, system-ui,
      -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
      Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Noto Color Emoji;
    --sp-font-mono: Source Code Pro, ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, Liberation Mono, Courier New, monospace;
    --sp-font-size: calc(1em - 20%);
    --sp-font-lineHeight: 24px;
    --sp-syntax-color-plain: inherit;
    --sp-syntax-color-comment: inherit;
    --sp-syntax-color-keyword: inherit;
    --sp-syntax-color-tag: inherit;
    --sp-syntax-color-punctuation: inherit;
    --sp-syntax-color-definition: inherit;
    --sp-syntax-color-property: inherit;
    --sp-syntax-color-static: inherit;
    --sp-syntax-color-string: inherit;
  }
}

--sxs {
  --sxs: 1 sp-k-cESbVh sp-k-iOHdLQ;
}

@media {
  @keyframes sp-k-cESbVh {
    0% {
      opacity: 0;
      transform: translateY(4px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes sp-k-iOHdLQ {
    0% {
      transform: rotateX(-25.5deg) rotateY(45deg);
    }

    100% {
      transform: rotateX(-25.5deg) rotateY(405deg);
    }
  }
}

--sxs {
  --sxs: 2 sp-c-gMfcns sp-c-hfoyCM sp-c-fWymNx sp-c-dRhJti sp-c-bpmgvy
    sp-c-kLppIp sp-c-PJLV sp-c-fVPbOs sp-c-dyHYiL sp-c-gGbYbQ sp-c-kuvqxy
    sp-c-ctabmA sp-c-bNbSGz sp-c-jOWzsE sp-c-jkvvao;
}

@media {
  .sp-c-gMfcns svg {
    margin: auto;
  }

  .sp-c-hfoyCM {
    padding: 0 var(--sp-space-1) 0 var(--sp-space-1);
    border-radius: var(--sp-border-radius);
    margin-left: var(--sp-space-1);
    width: var(--sp-space-5);
    visibility: hidden;
  }

  .sp-c-hfoyCM svg {
    width: var(--sp-space-3);
    height: var(--sp-space-3);
    display: block;
    position: relative;
    top: 1px;
  }

  .sp-c-fWymNx {
    margin: 0;
    display: block;
    font-family: var(--sp-font-mono);
    font-size: var(--sp-font-size);
    color: var(--sp-syntax-color-plain);
    line-height: var(--sp-font-lineHeight);
  }

  .sp-c-dRhJti {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    transition: color var(--sp-transitions-default),
      background var(--sp-transitions-default);
    cursor: pointer;
    color: var(--sp-colors-clickable);
  }

  .sp-c-dRhJti:disabled {
    color: var(--sp-colors-disabled);
  }

  .sp-c-dRhJti:hover:not(:disabled, [data-active='&#x27;true&#x27;']) {
    color: var(--sp-colors-hover);
  }

  .sp-c-dRhJti[data-active='&quot;true&quot;'] {
    color: var(--sp-colors-accent);
  }

  .sp-c-dRhJti svg {
    min-width: var(--sp-space-4);
    width: var(--sp-space-4);
    height: var(--sp-space-4);
  }

  .sp-c-dRhJti.sp-c-gMfcns {
    padding: var(--sp-space-1);
    width: var(--sp-space-7);
    height: var(--sp-space-7);
    display: flex;
  }

  .sp-c-bpmgvy {
    transform: translate(-4px, 9px) scale(0.13, 0.13);
  }

  .sp-c-bpmgvy * {
    position: absolute;
    width: 96px;
    height: 96px;
  }

  .sp-c-kLppIp {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: var(--sp-colors-surface1);
    transition: flex var(--sp-transitions-default);
    gap: 1px;
  }

  .sp-c-kLppIp:has(.sp-stack) {
    background-color: var(--sp-colors-surface2);
  }

  .sp-c-fVPbOs {
    all: initial;
    font-size: var(--sp-font-size);
    font-family: var(--sp-font-body);
    display: block;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  @media screen and (min-resolution: 2dppx) {
    .sp-c-fVPbOs {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .sp-c-fVPbOs * {
    box-sizing: border-box;
  }

  .sp-c-fVPbOs .sp-wrapper:focus {
    outline: 0;
  }

  .sp-c-dyHYiL {
    border-bottom: 1px solid var(--sp-colors-surface2);
    background: var(--sp-colors-surface1);
  }

  .sp-c-gGbYbQ {
    padding: 0 var(--sp-space-2);
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    min-height: 40px;
    margin-bottom: -1px;
  }

  .sp-c-kuvqxy {
    padding: 0 var(--sp-space-2);
    height: var(--sp-layout-headerHeight);
    white-space: nowrap;
  }

  .sp-c-kuvqxy:focus {
    outline: none;
  }

  .sp-c-kuvqxy: hover &gt;
  .sp-c-hfoyCM {
    visibility: unset;
  }

  .sp-c-ctabmA {
    border: 1px solid var(--sp-colors-surface2);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-radius: var(--sp-border-radius);
    overflow: hidden;
    position: relative;
    background-color: var(--sp-colors-surface2);
    gap: 1px;
  }

  .sp-c-ctabmA &gt;
  .sp-c-kLppIp {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 350px;
    height: var(--sp-layout-height);
  }

  @media print {
    .sp-c-ctabmA &gt;
    .sp-c-kLppIp {
      height: auto;
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    .sp-c-ctabmA &gt;
    .sp-c-kLppIp {
      height: auto;
      min-width: 100% !important;
    }
  }

  .sp-c-ctabmA &gt;
  .sp-file-explorer {
    flex: 0.2;
    min-width: 200px;
  }

  .sp-c-bNbSGz {
    flex: 1;
    position: relative;
    overflow: auto;
    background: var(--sp-colors-surface1);
  }

  .sp-c-bNbSGz .cm-scroller {
    padding: var(--sp-space-4) 0;
  }

  .sp-c-bNbSGz .sp-c-fWymNx {
    padding: var(--sp-space-4) 0;
  }

  .sp-c-jOWzsE {
    margin: 0;
    outline: none;
    height: 100%;
  }

  .sp-c-jkvvao .sp-syntax-string {
    color: var(--sp-syntax-color-string);
    font-style: var(--sp-syntax-fontStyle-string);
  }

  .sp-c-jkvvao .sp-syntax-plain {
    color: var(--sp-syntax-color-plain);
    font-style: var(--sp-syntax-fontStyle-plain);
  }

  .sp-c-jkvvao .sp-syntax-comment {
    color: var(--sp-syntax-color-comment);
    font-style: var(--sp-syntax-fontStyle-comment);
  }

  .sp-c-jkvvao .sp-syntax-keyword {
    color: var(--sp-syntax-color-keyword);
    font-style: var(--sp-syntax-fontStyle-keyword);
  }

  .sp-c-jkvvao .sp-syntax-definition {
    color: var(--sp-syntax-color-definition);
    font-style: var(--sp-syntax-fontStyle-definition);
  }

  .sp-c-jkvvao .sp-syntax-punctuation {
    color: var(--sp-syntax-color-punctuation);
    font-style: var(--sp-syntax-fontStyle-punctuation);
  }

  .sp-c-jkvvao .sp-syntax-property {
    color: var(--sp-syntax-color-property);
    font-style: var(--sp-syntax-fontStyle-property);
  }

  .sp-c-jkvvao .sp-syntax-tag {
    color: var(--sp-syntax-color-tag);
    font-style: var(--sp-syntax-fontStyle-tag);
  }

  .sp-c-jkvvao .sp-syntax-static {
    color: var(--sp-syntax-color-static);
    font-style: var(--sp-syntax-fontStyle-static);
  }
}

--sxs {
  --sxs: 3 sp-c-PJLV-kCOVwI-status-pass sp-c-PJLV-kEzYsr-status-fail
    sp-c-PJLV-gHAhSA-status-skip sp-c-PJLV-jgnHyR-status-title
    sp-c-PJLV-iCgxLS-status-run sp-c-PJLV-bnDZSy-status-pass
    sp-c-PJLV-eYuGwt-status-fail sp-c-fVPbOs-LrWkf-variant-dark;
}

@media {
  .sp-c-PJLV-kCOVwI-status-pass {
    color: var(--test-pass);
  }

  .sp-c-PJLV-kEzYsr-status-fail {
    color: var(--test-fail);
  }

  .sp-c-PJLV-gHAhSA-status-skip {
    color: var(--test-skip);
  }

  .sp-c-PJLV-jgnHyR-status-title {
    color: var(--test-title);
  }

  .sp-c-PJLV-iCgxLS-status-run {
    background: var(--test-run);
    color: var(--sp-colors-surface1);
  }

  .sp-c-PJLV-bnDZSy-status-pass {
    background: var(--test-pass);
    color: var(--sp-colors-surface1);
  }

  .sp-c-PJLV-eYuGwt-status-fail {
    background: var(--test-fail);
    color: var(--sp-colors-surface1);
  }

  .sp-c-fVPbOs-LrWkf-variant-dark {
    color-scheme: dark;
  }
}
