{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "jsx-a11y/anchor-is-valid": 0
      }
    }
  ],
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  }
}
