{
  "root": true,
  "extends": "next/core-web-vitals",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  },
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  }
}
